<launch>
    <arg name="calibration_pattern" default="false" doc="Start interactive pattern node" />

    <arg name="name" default="moving_base" />
    <arg name="x_pos" default="0.0" />
    <arg name="y_pos" default="0.0" />
    <arg name="z_pos" default="0.0" />
    <arg name="roll" default="0" />
    <arg name="pitch" default="0" />
    <arg name="yaw" default="1.57" />

    <arg name="gui" default="false" doc="Starts gazebo gui" />
    <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
    <arg name="rviz" default="true" doc="Starts rviz gui" />

    <!-- startup simulated world ########################################### -->
    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
  </include> -->

    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ur_e_gazebo)/worlds/turtlebot3_house.world" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" value="false" />
    <arg name="debug" value="false" />
  </include> -->

  <include
        file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find ur_e_gazebo)/worlds/larcc.world" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include>
    <!-- startup simulated world ########################################### -->

    <param name="robot_description"
        command="$(find xacro)/xacro --inorder $(find ur_e_description)/urdf/moving_base_odom.urdf.xacro" />

    <!-- Send robot states to tf -->
    <node
        name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node
        name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model $(arg name) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)
          -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)
          -param robot_description" />

    <group
        if="$(eval arg('rviz') == true)">
        <node name="rviz" pkg="rviz" type="rviz"
            args="--display-config $(find zau_bot_bringup)/config/moving_base_odom.rviz"
            required="false"></node>
    </group>

    <!-- Start interactive positioning of pattern -->
    <group if="$(arg calibration_pattern)">
        <node name="interactive_pattern" pkg="zau_bot_bringup" type="interactive_pattern"
            output="screen" />
    </group>($ arg calibration_pattern)" </launch>